version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: sh -c "pnpm install && pnpm dev"
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      NEXT_TELEMETRY_DISABLED: "1"
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/.next
